<h2>
  Welcome {{title}}
</h2>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<div style="top:100px ;">
<a class="btn btn-lg btn-primary" routerLink="/register" role="button">Add Record</a>
</div>
<br>
<div class="btn-group">
  <a class="btn btn-default" routerLink="/home" role="button">Home</a>
  <a class="btn btn-default" routerLink="/contactus" role="button">Contact Us</a>
  <a class="btn btn-default" routerLink="/aboutus" role="button">About Us</a>
  
</div>


<router-outlet></router-outlet>
