<p>edit works!</p>


<form  role="form">
    <legend>Enter record</legend>

    <div class="form-group">
        <label for="">label</label>
        <input [(ngModel)]="emps.no" type="text" class="form-control" name="no">
    </div>

    <div class="form-group">
            <label for="">label</label>
            <input [(ngModel)]="emps.name" type="text" class="form-control" name="name">
        </div>
    
        <div class="form-group">
                <label for="">label</label>
                <input [(ngModel)]="emps.address" type="text" class="form-control" name="address">
            </div>
        
    <button type="button" (click)="Update()" class="btn btn-primary">Update</button>
    <span>{{message}}</span>
</form>
